@import "../Helpers/mixins";

// visibility
.hideForMobile {
    @include breakpoint-down(medium) {
        display: none !important;
    }
}

.hideForDesktop {
    @include breakpoint-up(medium) {
        display: none !important;
    }
}

.open {
    transform: translateX(100);
}
