.expenses {
  width: 75vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #101010;

  display: flex;
  justify-content: center;
  align-items: center;

  &Card {
    background-color: #fff;
    width: 95%;
    height: 95%;
    border-radius: 30px;

    // display: flex;
  }

  &Overview {
    // background-color: red;
    width: 65%;
    padding: 5rem;

    &Header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 3rem;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #dcdcdc;
    }

    &Title {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Title {
    font-weight: 600;
    font-size: 2rem;
  }

  &Actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Images {
    margin-right: -5rem;
  }

  .person {
    &One {
      position: relative;
      left: -73%;
      z-index: 3;
    }

    &Two {
      position: relative;
      left: -83%;
      z-index: 2;
    }

    &Three {
      position: relative;
      left: -93%;
      z-index: 1;
    }
  }
}

.addIcon {
  cursor: pointer;
  // margin-left: -6rem;
}

.dateRange {
  margin-top: 1rem;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.expenseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

  &Left {
    display: flex;
    align-items: center;
  }

  &Div {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Details {
    margin-left: 1rem;
  }

  &Title {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  &Time {
    opacity: 0.5;
  }

  &Price {
    font-weight: 600;
  }
}
